<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head th:replace="${template} :: head">
    </head>

    <body>
        <header th:replace="${template} :: header"></header>

        <div class="container">
            <h1 th:text="${titulo}"></h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Turno</th>
                        <th scope="col">Profesor/a</th>
                        <th scope="col">Alumno/a</th>
                        <th scope="col">Fecha Inscripcion</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="inscripcion:${inscripciones}">
                        <th scope="row" th:text="${inscripcion.id}"></th>
                        <td th:text="${inscripcion.curso.nombre}"></td>
                        <td th:text="${inscripcion.curso.turno}"></td>
                        <td th:text="${inscripcion.curso.profesorCurso.nombre} +' '+ ${inscripcion.curso.profesorCurso.apellido}"></td>
                        <td th:text="${inscripcion.alumno.nombre} +' '+ ${inscripcion.alumno.apellido}"></td>   
                        <td th:text="${inscripcion.fechaInscripcion}"></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <footer th:replace="${template} :: footer"></footer>
    </body>

</html>