<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head th:replace="${template} :: head">
    </head>

    <body>
        <header th:replace="${template} :: header"></header>

        <div class="container">
            <h1 th:text="${titulo}"></h1>

            <a class="m-2 p-2 btn btn-success btn-sm" th:href="${rol} +@{profesores/crear}">Registrar Profesor</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="profesor:${profesores}">
                        <th scope="row" th:text="${profesor.id}"></th>
                        <td th:text="${profesor.nombre}"></td>
                        <td th:text="${profesor.apellido}"></td>
                        <td th:text="${profesor.email}"></td>
                        <td th:text="${profesor.especialidad}"></td>
                        <td>
                            <a type="button" class="btn btn-success" th:href="${rol} + @{profesores/modificar/} + ${profesor.id}"><i class="bi-pencil-square"></i></a>
                            <a type="button" class="btn btn-danger" th:href="${rol} + @{profesores/eliminar/} + ${profesor.id}" onclick="return confirm('Estás seguro de eliminar el profesor?')"><i class="bi-trash"></i></a>
           
                            
                        </td>
                
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <footer th:replace="${template} :: footer"></footer>
    </body>

</html>